//!  R E S E T  !//
html {
  box-sizing: border-box;
  font-size: 100%;
}

* {
  margin: 0;
  border: none;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
img {
  max-width: 100%;
}
//!  R E S E T [END] !//

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--lightGray);
  height: 100vh;

  // card styles
  main {
    background-color: var(--white);
    width: 20em;
    height: 31em;
    border-radius: 20px;
  }
}

.container1,
.container2 {
  width: 100%;
  border-radius: 20px;
}

.container1 {
  height: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container1 img {
  width: 90%;
  border-radius: 10px;
}

.container2 {
  height: 35%;
  text-align: center;
  padding: 0 20px;
}

.title {
  font-weight: var(--fw-title);
  font-size: var(--fs-title);
  color: var(--darkBlue);
  letter-spacing: -0.1px;
  margin: 5px 5px 0;
}

.content {
  margin-top: 18px;
  font-weight: var(--fw-content);
  font-size: var(--fs-content);
  letter-spacing: 0.1px;
  margin: 18px 10px 0;
  color: var(--grayishBlue);
}
