* {
  margin: 0;
  box-sizing: border-box;
  border: none;
  font-family: 'Outfit', sans-serif;
}

body {

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--lightGray);
  height: 100vh;
}

:root {
  --white: hsl(0, 0%, 100%);
  --lightGray: hsl(212, 45%, 89%);
  --grayishBlue: hsl(220, 15%, 55%);
  --darkBlue: hsl(218, 44%, 22%);
  --font-s: 22px;
}

.main-box {

  background-color: var(--white);
  
  width: 20em;
  height: 31em;
  border-radius: 20px;
}

.container1,
.container2 {
  width: 100%;
  border-radius: 20px;
}

.container1 {
  height: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container1 img {
  width: 90%;
  border-radius: 10px;
}

.container2 {
  height: 35%;
  text-align: center;
  padding: 0 20px;
}


.title {
  font-weight: 700;
  font-size: var(--font-s);
  color: var(--darkBlue);
  letter-spacing: -0.1px;
  margin: 5px 5px 0;

}

.content {
  margin-top: 18px;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.1px;
  margin: 18px 10px 0;
  color: var(--grayishBlue);
}